body{
    background-color: #FFFF;
}

h1, h2, h3{
    color: #31362fbf;
}

hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.subject{
    font-weight: bold;
    color: #616b6b;
}

footer {
    text-align:center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
}
